@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    color: #fff;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    
}

li:hover {
    color: #D21617;
}

#logo {
    width: 150px;
    height: auto;
}

#banner {
    background-image: url('./midia/batman-2022-wallpaper-oficial.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-blend-mode: normal;
    background-color: transparent;
    width: 100%;
    height: 600px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.formulario {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
    color: aliceblue;
}

form{
    background-color: #BF0D0D;
    max-width: 500px;
    padding: 40px;
    border-radius: 20px;
    color: aliceblue;
}

form h1{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    background-color: #BF0D0D;
    color: aliceblue;
}

.input-data {
        position: relative;
        margin: 20px 0;
        background-color: #BF0D0D;
        color: aliceblue;
}

.input-data label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    background-color: #BF0D0D;
}

.input-data input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: black;
}

.input-data textarea {
    width: 100%; 
    padding: 10px;
    border-radius: 5px; 
    border: none; 
    background-color: #fff; 
    color: black;
    resize: none;
}

.button {
    width: 100%;
    background-color: #BF0D0D;
    text-align: center; /* Centraliza o conteúdo dentro do elemento */
}

.button input {
    width: 150px;
    padding: 10px; 
    border-radius: 5px;
    background-color: #D21617; 
    color: white; 
    border: none; 
    cursor: pointer;
    font-size: 16px;
    transition: 1s;
}

.button input:hover {
    background-color: black
}

.contato, .formulario, #banner, html {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: "Kdam Thmor Pro", sans-serif;
}

.footer-navigation {
    display: none;    
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation{
        display: block;
    }
    nav {
        display: none;
    }

    #banner {
        background-position: 40%;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 100px;
    }
}